boto3==1.14.12
botocore==1.17.12
certifi==2020.6.20
click==7.1.2
docutils==0.15.2
elasticsearch==7.8.0
fsspec==0.7.4
jmespath==0.10.0
numpy==1.22.0
pandas==1.0.5
pdfkit==0.6.1
python-dateutil==2.8.1
python-Levenshtein==0.12.0
pytz==2020.1
redis==3.5.3
rq==1.4.3
s3fs==0.4.2
s3transfer==0.3.3
six==1.15.0
urllib3==1.25.9
Wand==0.6.1
